/* Adding google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
/* End of google fonts */

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

/* Use this for Headings : [font-family: 'Playfair Display', serif;] */
/* Use this for font family : [font-family: 'Poppins', sans-serif;] */

/* Styling NavBar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: none;
  /* box-shadow: 3px 4px 3px gray; */
  /* --webkit-box-shadow: 2px 4px 3px gray; */
  border-bottom: 2px solid black !important;
  background-color: rgb(0, 43, 127) !important;
  font-weight: 500;
  /* max-height: 70px; */
  /* max-width: 99.5%; */
  /* margin-left: 5px; */
  margin-top: 2px;
  width: 100%;
  /* height: 100%; */
}

.search-box {
  width: 600px;
  margin-left: 2rem;
}

.nav-link {
  /* box-shadow: 2px 1px 2px 1px rgb(0, 0, 0); */
  background-color: rgb(0, 6, 86);
  color: rgb(158, 155, 155) !important;
  border: 0px;
  margin-left: 10px;
  border-radius: 8px;
}

.nav-link:hover {
  /* color: burlywood; */

  background-color: rgb(54, 158, 33);
  /* color: white; */
}

.active {
  /* border-bottom: 1px solid rgb(146, 246, 7); */
  /* color: rgb(146, 246, 7) !important; */
  color: rgb(243, 237, 237);
  /* border: 2px solid white; */

  border-radius: 5px;
  border: 2px solid white;
}

.navbar-brand {
  color: rgb(133, 130, 129);
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px black;
  font-weight: 900;
}

.brand-icon {
  /* color: rgb(252, 2, 2); */
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
}

.slogan {
  font-weight: 300 !important;
  font-size: 14px;
  letter-spacing: 1px;
  /* text-decoration: underline; */
  margin-left: 70px;
  margin-top: -8px;
}

.navbar-brand:hover {
  color: rgb(196, 186, 186) !important;
}

/* **********Footer********* */
.footer {
  color: rgb(177, 173, 173);
  padding: 25px;
  background-image: linear-gradient(to right, rgb(38, 38, 120), #6e4b4b);
  /* max-width: 99.5%; */
  width: 100%;
  height: 100%;
}

.footer a {
  color: rgb(205, 181, 181);
  text-decoration: none;
  padding: 10px;
}

.footer a:hover {
  color: darkgrey;
  border-bottom: 2px solid darkgray;
}

/* *******Page Not Found css******** */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pnf-title {
  font-size: 200px;
  font-weight: 900;
  color: rgb(79, 73, 73);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pnf-heading {
  font-weight: 900;
  color: rgb(71, 65, 65);
  margin-top: -100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pnf-btn {
  color: rgb(65, 52, 52);
  border: 3px solid rgb(67, 55, 55);
  text-decoration: none;
  padding: 5px;
  margin-top: 10px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pnf-btn:hover {
  color: white;
  background: darkgrey;
}

/* ******** CSS for Contact-Us Component ********** */
/* .Contact {
  width: 100%;
  height: 100%;
} */

.img-cont {
  margin-top: 3vh;
  /* margin-bottom: 10px; */
  margin-left: 3vh;
  margin-right: 2vh;
}

.contact-img {
  border-radius: 10px;
  min-height: 65vh !important;
}

.text-cont {
  margin-top: 3vh;
  /* margin-bottom: 10px; */
  margin-left: 2vh;
  margin-right: 2vh;
}

/* *******Giving styles to About Component******** */
/* .about-text {
  margin-left: 50vw;
} */

.about-img {
  border-radius: 10px;
}
.contactus {
  background-image: linear-gradient(
    0deg,
    rgb(84, 22, 22) 20%,
    rgb(65, 64, 123) 100%
  );
  color: white;
}

/* ^^^^^^Styling Privacy-Policy^^^^^^^^^ */
.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    0deg,
    rgb(84, 22, 22) 20%,
    rgb(65, 64, 123) 100%
  );
  color: white;
}

/* Styling product link */
.products-container {
  display: flex; /* Use flexbox to create a horizontal layout */
  flex-wrap: wrap; /* Allow cards to wrap to the next row when there are more than three */
  /* justify-content: space-around; */
}
.product-link {
  text-decoration: none !important;
  color: black !important;
}
.product-link .product-card:hover {
  box-shadow: 1px 2px 1px 3px rgb(125, 123, 123) !important;
}
.product-link img {
  height: 150px;
  /* width: 170px; */
  margin-left: 7px;
}
.product-card {
  /* height: 300px; */
  width: 200px !important;
  /* width: calc(
    33.33%
  ); Set the width of each card to occupy about one-third of the container with some spacing */
  margin: 20px; /* Add vertical spacing between cards */
  border: 1px solid #ccc; /* Add a border to the cards for separation */
  padding: 10px; /* Add padding to the cards for content spacing */
  box-sizing: border-box;
}

/* ************* HomePage ****************************************** */
.home-card {
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: row;
  align-items: center;
  /* height: 300px !important;
  width: 200px !important; */
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}

.card-custom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card .card-custom img {
  max-height: 190px !important;
  max-width: 250px !important;
  /* margin-left: 35px; */
  margin-top: 10px;
  object-fit: contain;
}

.btn-load-more {
  color: green;
  background-color: white;
  border: 2px solid green;
  margin-top: 10px;
  /* margin: 0 auto; */
  margin-left: 30rem;
}

/****************Cart********************/
.nav-link .cart-icon {
  color: rgb(223, 223, 59) !important;
  font-weight: 800 !important;
  background: black;
  border-radius: 3px;
  font-size: 20px;
}
.cart-link h4 {
  color: rgba(249, 248, 245, 0.902);
  background: rgb(231, 27, 27);
  border-radius: 50%;
  margin-top: -28px;
  margin-left: 20px;
  font-size: 12px;
  /* font-weight: 900 !important; */
  padding: 3px;
}

/* Home Page */
.home-container {
  /* color: white; */
  /* background: rgb(57, 71, 97); */
  display: flex;
  flex-wrap: wrap;
}
.banner-img {
  width: 100%;
  max-height: 15rem;
  margin-top: 20px;
}

.home-container h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-container .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.home-container .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-container .card-price {
  color: green;
  font-weight: bold;
}

.home-container button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-container .card-text {
  color: rgb(90, 89, 89);
}

.home-container .card img:hover {
  transform: scale(0.9);
}

.home-container .card-img-top {
  height: 300px !important;
}

/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}

.home-container .btn-load-more {
  max-width: 15vw !important;
  text-align: center !important;
  margin-top: -2vh !important;
}

/* Cart Page */

.cart-container {
  margin-top: 44px;
}

.cart-container h1 {
  padding: 15px !important;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  background-color: rgba(0, 0, 255, 0.072) !important;
}

.cart-container h1 > p {
  font-size: 20px;
  margin-top: 10px;
}

.cart-container .card {
  padding: 5px !important;
  height: 210px !important;
  margin-bottom: 15px !important;
}
.cart-container .cart-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-container .cart-summary {
  text-align: center;
  /* margin-top: -140px !important; */
}

/* CategoryProduct Page */
.category {
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 44px !important;
}
.category .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: green;
  font-weight: bold;
}
.category button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.category .card-text {
  color: rgb(90, 89, 89);
}

.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-top {
  height: 300px !important;
}

/* Product-Details Page */
.product-details {
  margin-top: 100px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: bold;
}
.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
}

.similar-products .card-img-top {
  height: 300px !important;
}

/* CategoryPage */
.cat-cantainer .row .cat-btn {
  display: flex;
  flex-direction: rou;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin-top: 44px !important;
  text-decoration: none;
  font-size: 24px;
  border: 3px solid green;
  color: gray;
  /* box-shadow: 5px 8px 5px solid black; */
}
.cat-cantainer .row .cat-btn:hover {
  background-color: green;
  color: white;
  border: 3px solid black;
}
