/* Adding google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
/* End of google fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Use this for Headings : [font-family: 'Playfair Display', serif;] */
/* Use this for font family : [font-family: 'Poppins', sans-serif;] */

/* Styling NavBar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: none;
  /* box-shadow: 3px 4px 3px gray; */
  /* --webkit-box-shadow: 2px 4px 3px gray; */
  border-bottom: 2px solid black !important;
  background-color: rgb(32, 83, 224) !important;
  font-weight: 300;
  /* max-height: 70px; */
  /* max-width: 99.5%; */
  /* margin-left: 5px; */
  margin-top: 3px;
  width: 100%;
  /* height: 100%; */
}

.search-box {
  width: 700px;
  margin-left: 4rem;
}

.nav-link {
  font-weight: 400 !important;
  color: rgb(243, 237, 237);
  border: 2px solid white;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgb(23, 54, 168);
}

.nav-link:hover {
  /* color: burlywood; */

  background-color: rgb(36, 154, 12);
  /* color: white; */
}

.active {
  /* border-bottom: 1px solid rgb(146, 246, 7); */
  /* color: rgb(146, 246, 7) !important; */

  background-color: rgb(243, 240, 237);
}

.navbar-brand {
  font-weight: 900;
  font-family: "roboto", sans-serif;
  letter-spacing: 4px;
  color: rgba(251, 251, 245, 0.979);
  text-transform: none;
  font-style: italic;
}



/* Define the animation named "flicker" */
@keyframes flicker {
    /* Initial state of animation */
    0%, 
    /* Final state of animation */
    100% { 
        text-shadow: 
            0 1px 3px #fff, /* Innermost layer - intense heat (white) */
            0 2px 6px #FF3, /* Second layer - core of flame (yellow) */
            0 6px 12px #F90, /* Middle layer - body of flame (orange) */
            0 10px 20px #C33; /* Outermost layer - edges of flame (red) */
    }
    /* Middle state of animation */
    50% { 
        text-shadow: 
            0 -2px 6px #fff, /* Innermost layer - intense heat (white) */
            0 -4px 12px #FF3, /* Second layer - core of flame (yellow) */
            0 -8px 16px #F90, /* Middle layer - body of flame (orange) */
            0 -12px 24px #C33; /* Outermost layer - edges of flame (red) */
    }
}
 
.fire {
    /* Apply the "flicker" animation to the .fire class */
    animation: flicker 2s infinite;
}
.navbar-brand:hover {
  background-color: white;
  color: rgb(41, 11, 235);
  border-radius: 12px;
  padding: -5px;
  box-shadow: 2px 2px 2px 2px black;
}

.brand-icon {
  /* color: rgb(252, 2, 2); */
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
}

.slogan {
  font-weight: 100 !important;
  font-size: 14px;
  letter-spacing: 3px;
  /* text-decoration: underline; */
  margin-left: 120px;
  margin-top: -3px;
}

/* **********Footer********* */
.footer {
  color: white;
  padding: 25px;
  background-image: linear-gradient(to right, rgb(56, 56, 78), #422b2b);
  /* max-width: 99.5%; */
  width: 100%;
  height: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.footer a:hover {
  color: darkgrey;
  border-bottom: 2px solid darkgray;
}

/* *******Page Not Found css******** */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pnf-title {
  font-size: 150px;
  font-weight: 700;
  color: darkgrey;
}

.pnf-heading {
  font-weight: normal;
  color: gray;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 5px;
  margin-top: 10px;
}

.pnf-btn:hover {
  color: white;
  background: darkgrey;
}

/* ********CSS for Contact-Us Component********** */
/* .Contact {
  width: 100%;
  height: 100%;
} */
.img-cont {
  margin-top: 3vh;
  /* margin-bottom: 10px; */
  margin-left: 3vh;
  margin-right: 2vh;
}

.contact-img {
  border-radius: 10px;
}

.text-cont {
  margin-top: 3vh;
  /* margin-bottom: 10px; */
  margin-left: 3vh;
  margin-right: 2vh;
}

/* *******Giving styles to About Component******** */
/* .about-text {
  margin-left: 50vw;
} */

.about-img {
  border-radius: 10px;
}

/* ^^^^^^Styling Privacy-Policy^^^^^^^^^ */
.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* *******Styling our Sign-Up page******** */
/* .register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
} */

/* *********************Stylong Log-In, Sign-In, Forgot-Password Cimponent******************** */
.log-in-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  flex-direction: column;
}
.form-container button {
  width: 100% !important;
}

/* Styling product link */
.products-container {
  display: flex; /* Use flexbox to create a horizontal layout */
  flex-wrap: wrap; /* Allow cards to wrap to the next row when there are more than three */
  /* justify-content: space-around; */
}
.product-link {
  text-decoration: none !important;
  color: black !important;
}
.product-link .product-card:hover {
  box-shadow: 1px 2px 1px 3px rgb(125, 123, 123) !important;
}
.product-link img {
  height: 150px;
  /* width: 170px; */
  margin-left: 7px;
}
.product-card {
  /* height: 300px; */
  width: 200px !important;
  /* width: calc(
    33.33%
  ); Set the width of each card to occupy about one-third of the container with some spacing */
  margin: 20px; /* Add vertical spacing between cards */
  border: 1px solid #ccc; /* Add a border to the cards for separation */
  padding: 10px; /* Add padding to the cards for content spacing */
  box-sizing: border-box;
}

/* ************* HomePage ****************************************** */
.home-card {
  display: flex;
  flex-wrap: wrap !important;
  flex-direction: row;
  align-items: center;
  /* height: 300px !important;
  width: 200px !important; */
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}

.card-custom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card .card-custom img {
  max-height: 190px !important;
  max-width: 250px !important;
  /* margin-left: 35px; */
  margin-top: 10px;
  object-fit: contain;
}

.btn-load-more {
  color: green;
  background-color: white;
  border: 2px solid green;
  margin-top: 10px;
  /* margin: 0 auto; */
  margin-left: 30rem;
}
